@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "variables";

h1 {
  font-family: $font-family;
  font-weight: 600;
  font-size: 1.8rem;
  color: $color-text-purple;
}

h2 {
  font-family: $font-family;
  font-weight: 600;
  font-size: 1.6rem;
  color: $color-text-purple;
}

h3 {
  font-family: $font-family;
  font-weight: 600;
  font-size: 1.3rem;
  color: $color-text-purple;
}

h4 {
  font-family: $font-family;
  font-weight: 300;
  font-size: 0.9rem;
  color: $color-text-purple;
}

h5 {
  font-family: $font-family;
  font-weight: 400;
  font-size: 1rem;
  color: $color-text-purple;
}

p,
label,
input {
  font-family: $font-family;
  font-weight: 200;
  font-size: 0.8rem;
  color: $color-text-purple;
}

.subheader {
  font-weight: 700;
  font-size: 1.5rem;
  color: $color-text-purple;
}

#label,
td {
  font-family: $font-family;
  color: $color-text-purple;
}

a {
  font-family: $font-family;
  font-weight: 200;
  font-size: 1rem;
  color: $color-purple;
  text-decoration: underline;
}

.task_link {
  font-size: 0.8rem;
  color: $color-purple;
  text-decoration: underline;
}
