// General
$border-radius: 20px;
$border-radius-small: 5px;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$font-family: "Outfit", sans-serif;

// Colors
$color-off-white: #fefefe;
$color-main: #712afc;
$color-main-tint: #f7f3ff;
$color-text-purple: #221144;
$black: #000000;
$color-gray: #969696;

// Tag colors
$color-purple: #713fdb;
$color-purple-tint: #f0e8fc;

$color-orange: #f8835e;
$color-orange-tint: #ffeee4;

$color-blue: #3d9be2;
$color-blue-tint: #e7f8ff;

$color-yellow: #ffc444;
