// General
$border-radius: 20px;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$font-family: 'Outfit', sans-serif;

// Colors
$color-off-white: #FEFEFE;
$color-main: #712AFC;
$color-main-tint: #F7F3FF;
$color-text-purple: #221144;
$black: #000000;
$color-gray: #969696;

// Tag colors 
$color-purple: #713FDB; 
$color-purple-tint: #F0E8FC;

$color-orange: #F8835E; 
$color-orange-tint: #FFEEE4;

$color-blue: #3D9BE2; 
$color-blue-tint: #E7F8FF;
 
$color-yellow: #FFC444;