// General
$border-radius: 5px;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$font-family: 'Roboto', sans-serif;

// Colors
$color-off-white: #FEFEFE;
$color-dark-blue: #0A1692;
$color-light-blue: #F4F7FD; 
$color-pink: #E67EF8;

// Tag colors 
$color-purple: #512686; 
$color-purple-tint: #EFEAFC;
$color-red: #CE5F60; 
$color-red-tint: #FBE6E6;
$color-blue: #494EA3; 
$color-blue-tint: #EFF1FF;
$color-yellow: #EECD56; 
$color-yellow-tint: #FFF8DD;
