@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  width: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

h4 {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

h5 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
}

.subheader {
  font-weight: 700;
  font-size: 1.5rem;
}

#label,
td {
  font-family: "Outfit", sans-serif;
}

button,
.button {
  width: 100%;
  background-color: #712afc;
  color: #fefefe;
  padding: 1rem;
  border-radius: 5px;
  font-family: "Outfit", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
}

button:hover,
.button:hover {
  background-color: rgba(113, 42, 252, 0.9);
}

.calendar_button {
  font-family: "Outfit", sans-serif;
  padding: 1rem;
}

.hide {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (min-width: 900px) {
  .hide {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.toggle-menu {
  position: fixed;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1000;
  height: 2rem;
  width: 2rem;
  font-size: 1.8rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #712afc;
  border-radius: 50%;
  font-family: "Outfit", sans-serif;
}

@media (min-width: 900px) {
  .toggle-menu {
    display: none;
  }
}

@media (min-width: 900px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container .menu {
  height: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fefefe;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .menu .menu_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .menu .menu_bottom a {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  color: #221144;
}

.container .menu .menu_top {
  text-align: center;
  margin-top: 2rem;
}

.container .menu .menu_top img {
  width: 40%;
}

.container .menu .menuitems img {
  width: auto;
}

.container .menu .menuitems .selected {
  background-color: #f7f3ff;
  border-radius: 20px;
}

.container .menu .menuitems .selected a {
  color: #712afc;
}

.container .menu .menuitems :not(.selected) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .menu .menuitems :not(.selected):hover {
  background-color: #f7f3ff;
  border-radius: 20px;
}

.container .menu .menuitems li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.7rem 1.5rem;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.container .menu .menuitems li:hover a {
  color: #712afc;
}

.container .menu .menuitems li a {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  color: #969696;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .menu_container {
  width: 100%;
  height: 100vh;
  position: fixed;
}

@media (min-width: 900px) {
  .container .menu_container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    position: relative;
  }
}

.container .inner_container {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1100px) {
  .container .inner_container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.container .inner_container .column_wide {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.container .inner_container .column_narrow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container .content_container {
  width: 100%;
  height: 100vh;
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
}

.container .content_container .top_navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding: 20px;
  padding-right: 2rem;
  gap: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
}

.container .content_container .top_navbar .bell {
  width: 1.8rem;
}

.container .content_container .top_navbar .photo {
  width: 2.5rem;
}

.container .content_container .top_navbar p {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

.container .content_container .top_navbar a {
  margin-left: 10px;
}

#courses .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#courses .wrapper h1 {
  margin: 3rem;
}

#courses .submenu {
  justify-self: flex-start;
  margin: 0 3rem;
}

#courses .submenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  gap: 1rem;
  font-size: 1.1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 475px) {
  #courses .submenu ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

#courses .submenu ul li {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#courses .submenu ul li:nth-child(1) {
  background-color: #e7f8ff;
  color: #3d9be2;
}

#courses .submenu ul li:nth-child(2) {
  background-color: #f0e8fc;
  color: #713fdb;
}

#courses .submenu ul li:nth-child(3) {
  background-color: #ffeee4;
  color: #f8835e;
}

#courses .submenu ul li.disabled {
  background-color: #f1f1f1;
  color: #bdbdbd;
}

#courses .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1rem;
  margin: 1.5rem 0;
}

#courses .projects .hidden {
  display: none;
}

#courses .projects .ux {
  background-color: #e7f8ff;
}

#courses .projects .db {
  background-color: #ffeee4;
}

#courses .projects .wd {
  background-color: #f0e8fc;
}

#courses .project {
  height: 120px;
  width: 120px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: table;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#courses .project a {
  text-decoration: none;
  color: #000000;
}

#courses .subsection {
  background-color: #fefefe;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  min-width: 200px;
  max-width: 100%;
  min-height: 200px;
  margin: 1.5rem 0;
}

#courses .tasks .hidden {
  display: none;
}

#courses .tasks ul {
  padding: 1.2rem;
}

#courses .tasks ul .ux {
  background-color: #e7f8ff;
}

#courses .tasks ul .ux .blue {
  color: #3d9be2;
}

#courses .tasks ul .db {
  background-color: #ffeee4;
}

#courses .tasks ul .db .orange {
  color: #f8835e;
}

#courses .tasks ul .wd {
  background-color: #f0e8fc;
}

#courses .tasks ul .wd .purple {
  color: #713fdb;
}

#courses .tasks ul li {
  border-radius: 20px;
  font-family: "Outfit", sans-serif;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 0.5fr;
      grid-template-columns: 1fr 5fr 0.5fr;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#courses .tasks ul li span {
  font-size: 2rem;
}

#courses .tasks ul li .blue, #courses .tasks ul li .purple, #courses .tasks ul li .orange {
  text-transform: uppercase;
  padding-bottom: 5px;
}

#courses .tasks ul li .gray {
  color: #bdbdbd;
}

#courses .tasks ul li a {
  text-decoration: none;
  color: black;
  padding-right: 10px;
}

#courses .tasks ul li h3 {
  text-align: center;
  padding-right: 10px;
  border-right: #bdbdbd solid 1px;
}

#courses .tasks ul li p {
  font-size: 1rem;
}

#courses .tasks ul li + li {
  margin-top: 1rem;
}

#courses .grades {
  width: auto;
  border-radius: 20px;
  background-color: #fefefe;
}

#courses .grades .grade {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 1fr;
      grid-template-columns: 2fr 3fr 1fr;
  padding: 1rem;
}

#courses .grades .grade a {
  text-decoration: none;
  color: #bdbdbd;
}

#courses .grades .hidden {
  display: none;
}

.modal-window {
  position: fixed;
  font-family: "Outfit", sans-serif;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  background: #fefefe;
  border-radius: 20px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal-window h3, .modal-window h4 {
  margin-bottom: 1rem;
}

.modal-close {
  color: #bdbdbd;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000000;
}

#dashboard .header {
  margin: 1rem 3rem 0;
}

#dashboard .subheader {
  margin-top: 2rem;
}

#dashboard .subsection {
  background-color: #fefefe;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  min-width: 200px;
  max-width: 100%;
  min-height: 200px;
  margin: 1.5rem 0;
}

#dashboard .tasks ul {
  padding: 1.2rem;
}

#dashboard .tasks ul li {
  background-color: #e7f8ff;
  border-radius: 20px;
  font-family: "Outfit", sans-serif;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dashboard .tasks ul li p {
  font-size: 1rem;
}

#dashboard .tasks ul li + li {
  margin-top: 1rem;
}

#dashboard .courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#dashboard .courses h3 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#dashboard .courses .course {
  background-color: #f0e8fc;
  height: 200px;
  min-width: 200px;
  padding: 1.5rem;
  border-radius: 20px;
}

#messages .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#messages .content .column_narrow {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  border-right: 1px solid #f7f3ff !important;
  padding-right: 10px;
}

#messages .content .column_narrow .user_image {
  width: 20%;
  margin-right: 10px;
}

#messages .content .column_narrow .new-message {
  display: none !important;
}

#messages .content .column_narrow .test {
  width: 100%;
}

#messages .content .column_narrow .message_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#messages .content .column_narrow .new_message_wrapper {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#messages .content .column_narrow .message_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 20px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0 4px 25px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 25px -2px rgba(0, 0, 0, 0.05);
}

#messages .content .column_narrow .message_header img {
  width: 10%;
}

#messages .content .column_narrow .message_date {
  font-size: 10px;
  margin-bottom: 3px;
}

#messages .content .column_narrow .unopened_message h4,
#messages .content .column_narrow .unopened_message p {
  font-weight: 400 !important;
}

#messages .content .column_narrow .message_excerpt {
  margin-top: 3px;
}

#messages .content .column_narrow .purple_circle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #713fdb;
}

#messages .content .column_wide {
  display: none;
  height: 93vh;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
  position: relative;
}

#messages .content .column_wide .empty_chat {
  display: none;
}

#messages .content .column_wide .chat_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
}

#messages .content .column_wide .chat {
  width: 100%;
}

#messages .content .column_wide .message_a {
  width: 80%;
}

#messages .content .column_wide .message_b {
  width: 80%;
  float: right;
}

#messages .content .column_wide .messagebubble1 {
  width: 80%;
  background-color: #f0e8fc;
  border-radius: 10px;
  padding: 20px;
  margin: 5px 10px;
}

#messages .content .column_wide .filler {
  display: none;
}

#messages .content .column_wide .messagebubble2 {
  width: 80%;
  background-color: #713fdb;
  border-radius: 10px;
  float: right;
  padding: 20px;
  margin: 5px 10px;
}

#messages .content .column_wide .messagebubble2 p {
  color: white;
}

#messages .content .column_wide .messagefield-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

#messages .content .column_wide .messagefield-wrapper .message_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  width: 10%;
}

#messages .content .column_wide .messagefield-wrapper .message_icons img {
  width: 80%;
}

#messages .content .column_wide .messagefield-wrapper .messagefield {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  background-color: #f7f3ff;
}

#messages .content .column_wide .messagefield-wrapper .icon_placeholder {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 1px solid black;
}

#messages .content .column_wide .chat_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fefefe;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
  -webkit-box-shadow: 0 4px 25px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 25px -2px rgba(0, 0, 0, 0.05);
}

#messages .content .column_wide .chat_header img {
  width: 10%;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  #messages .backarrow {
    display: none;
  }
  #messages .content .column_wide {
    display: unset;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
  #messages .content .column_wide .message_a {
    width: 60%;
  }
  #messages .content .column_wide .message_b {
    width: 60%;
    float: right;
  }
  #messages .content .column_wide .messagefield-wrapper .message_icons img {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  #messages {
    overflow: hidden;
  }
  #messages .content .column_narrow {
    display: unset;
  }
  #messages .content .column_narrow .message_wrapper:nth-child(2) {
    background-color: #f7f3ff;
  }
  #messages .content .column_narrow .message_header {
    margin-top: 0;
  }
  #messages .content .column_wide {
    display: unset;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -ms-flex-preferred-size: 600px;
        flex-basis: 600px;
  }
  #messages .content .column_wide .empty_chat {
    display: none;
  }
  #messages .content .column_wide .chat_header {
    padding: 5px 10px;
  }
  #messages .content .column_wide .chat_header img {
    width: 8%;
  }
  #messages .content .column_wide .message_a {
    width: 45%;
  }
  #messages .content .column_wide .message_b {
    width: 45%;
    float: right;
  }
  #messages .content .column_wide .messagebubble1 {
    width: 100%;
  }
  #messages .content .column_wide .messagebubble2 {
    width: 100%;
  }
  #messages .content .column_wide .messagefield-wrapper .message_icons {
    width: 5%;
  }
  #messages .content .column_wide .messagefield-wrapper .message_icons img {
    width: 60%;
  }
  #messages .content .column_wide .messagefield-wrapper .messagefield {
    height: 50px;
  }
}

#login .login_modal {
  background-color: #fefefe;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  padding: 2rem;
  width: 500px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#login .login_modal h3 {
  font-weight: 700;
  margin-bottom: 2rem;
}

#login .login_modal .login_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

#login .login_modal .login_flex div {
  padding: 0.5rem 0;
  border-bottom: 1px solid #712afc;
}

#login .login_modal .login_flex div h4 {
  font-size: 1rem;
}

#login .login_modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 1rem;
}

#login .login_modal form input {
  display: block;
  font-family: "Outfit", sans-serif;
  width: 100%;
  border: 1px solid #712afc;
  padding: 1rem;
  border-radius: 5px;
}

#calendar .month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calendar #cal {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: table;
}

#calendar #cal .header {
  text-align: center;
  padding: 1rem;
}

#calendar #cal #days {
  width: 100%;
  height: 30px;
  text-align: center;
}

#calendar #cal #days td {
  padding: 5px 10px;
  text-transform: uppercase;
  width: calc(100% / 7);
  color: #712afc;
}

#calendar #cal #cal-frame {
  height: 40%;
}

#calendar #cal #cal-frame .curr {
  width: 100%;
  height: 100%;
}

#calendar #cal #cal-frame .curr .calendar_events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

#calendar #cal #cal-frame .curr .calendar_events .calendar_event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calendar #cal #cal-frame .curr .calendar_events .calendar_name,
#calendar #cal #cal-frame .curr .calendar_events .calendar_timeof {
  text-align: left;
  font-size: 11px;
  display: none;
}

#calendar #cal #cal-frame .curr .calendar_events .calendar_name {
  padding-left: 5px;
}

#calendar #cal #cal-frame .curr .calendar_events .calendar_dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #712afc;
}

#calendar #cal #cal-frame .curr .current_day {
  background-color: #712afc;
  border-radius: 50%;
  color: #fefefe;
  padding: 2px;
}

#calendar #cal #cal-frame .curr td {
  padding: 5px 10px;
  text-align: center;
  border: 0.5px solid #f7f3ff;
  width: calc(100% / 7);
  height: calc(100% / 5);
}

#calendar #cal .mobile_calendar {
  height: 40%;
  border: 1px solid #f7f3ff;
  margin: 20px 0;
  padding: 0 20px;
}

#calendar #cal .mobile_calendar h3 {
  padding: 20px;
  border-bottom: 1px solid #f7f3ff;
}

#calendar #cal .mobile_calendar .calendar_events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #f7f3ff;
}

#calendar #cal .mobile_calendar .calendar_events p {
  font-size: 14px;
}

#calendar #cal .mobile_calendar .calendar_events .calendar_event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
}

#calendar #cal .mobile_calendar .calendar_dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #712afc;
  margin-right: 5px;
}

@media only screen and (min-width: 1200px) {
  #calendar #cal {
    padding: 20px;
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    height: 100%;
  }
  #calendar #cal #days {
    text-align: end;
  }
  #calendar #cal .mobile_calendar {
    display: none;
  }
  #calendar #cal #cal-frame {
    height: 75%;
  }
  #calendar #cal #cal-frame .curr {
    width: 100%;
    height: 100%;
  }
  #calendar #cal #cal-frame .curr .calendar_events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #calendar #cal #cal-frame .curr .calendar_events .calendar_name,
  #calendar #cal #cal-frame .curr .calendar_events .calendar_timeof {
    display: unset;
  }
  #calendar #cal #cal-frame .curr td {
    text-align: end;
  }
}

#tasks .wrapper {
  padding: 2rem;
}

@media (min-width: 900px) {
  #tasks .wrapper {
    padding: 3rem;
  }
}

#tasks .submenu {
  margin: 2rem 0;
}

#tasks .submenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  gap: 1rem;
  font-size: 1.1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 475px) {
  #tasks .submenu ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

#tasks .submenu ul li {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tasks .submenu ul li:nth-child(1) {
  background-color: #e7f8ff;
  color: #3d9be2;
}

#tasks .submenu ul li:nth-child(2) {
  background-color: #f0e8fc;
  color: #713fdb;
}

#tasks .submenu ul li:nth-child(3) {
  background-color: #ffeee4;
  color: #f8835e;
}

#tasks .submenu ul li.disabled {
  background-color: #f1f1f1;
  color: #bdbdbd;
}

#tasks .task_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

#tasks .task_list ul li {
  font-family: "Outfit", sans-serif;
  padding: 1rem;
  border-radius: 20px;
  display: block;
}

#tasks .task_list ul li p {
  font-size: 1rem;
  font-weight: 300;
}

#tasks .task_list ul .ux {
  background-color: #e7f8ff;
  color: #3d9be2;
}

#tasks .task_list ul .db {
  background-color: #ffeee4;
  color: #f8835e;
}

#tasks .task_list ul .wd {
  background-color: #f0e8fc;
  color: #713fdb;
}

#tasks .task_list ul .hidden {
  display: none;
}

.announcements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 1rem;
}

.announcement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 20px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding: 2rem;
  gap: 1rem;
}

.announcement .aFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.announcement img {
  height: 60px;
  width: auto;
}

.announcement .aComments {
  display: none;
}

.announcement .aComment {
  margin: 1rem;
}

.announcement .aComment .photo {
  height: 40px;
}

.announcement .aComment input {
  border-radius: 20px;
  border: #bdbdbd solid 1px;
  font-family: "Outfit", sans-serif;
  font-weight: lighter;
  padding: 1rem;
  width: 100%;
}

#project .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 1rem;
}

#project .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 20px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding: 2rem;
  gap: 1rem;
}

#project ul {
  margin: 2rem 3rem;
}

#project li {
  font-family: "Outfit", sans-serif;
  list-style-type: decimal;
  font-size: .9rem;
  font-weight: 300;
  margin: 1rem 0;
}

#project p {
  font-size: 1rem;
}

#project input {
  font-family: "Outfit", sans-serif;
}

#project #pComment {
  border-radius: 20px;
  border: #bdbdbd solid 1px;
  padding: 1rem;
}

#project h5 {
  margin-top: 1rem;
}
/*# sourceMappingURL=main.css.map */