#calendar {
  .month {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 0 0 0rem;
    @media (min-width: 700px) {
      margin: 7rem 0 0 0rem;
    }
    @media (min-width: 1100px) {
      margin: 5rem 0 0 0rem;
    }
  }
  #cal {
    width: 100%;
    height: 80%;
    padding: 10px;
    display: table;

    .header {
      text-align: center;
      padding: 1rem;
    }

    #days {
      width: 100%;
      height: 30px;
      text-align: center;

      td {
        padding: 5px 10px;
        text-transform: uppercase;
        width: calc(100% / 7);
        color: $color-main;
      }
    }
    #cal-frame {
      height: 40%;
      .curr {
        width: 100%;
        height: 100%;
        .calendar_events {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          .calendar_event {
            display: flex;
            align-items: center;
          }
          .calendar_name,
          .calendar_timeof {
            text-align: left;
            font-size: 11px;
            display: none;
          }

          .calendar_name {
            padding-left: 5px;
          }

          .calendar_dot {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $color-main;
          }
        }

        .current_day {
          background-color: $color-main;
          border-radius: 50%;
          color: $color-off-white;
          padding: 2px;
        }
        td {
          padding: 5px 10px;
          text-align: center;
          border: 0.5px solid $color-main-tint;
          width: calc(100% / 7);
          height: calc(100% / 5);
        }
      }
    }
    .mobile_calendar {
      height: 55%;
      border: 1px solid $color-main-tint;
      margin: 20px 0;
      padding: 0 20px;
      h3 {
        padding: 20px;
        border-bottom: 1px solid $color-main-tint;
      }
      .calendar_events {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid $color-main-tint;
        p {
          font-size: 14px;
        }

        .calendar_event {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 5px;
        }
      }

      .calendar_dot {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $color-main;
        margin-right: 5px;
      }
    }
  }

  @media only screen and (min-width: 768px) {
  }
  @media only screen and (min-width: 1200px) {
    #cal {
      padding: 20px;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
      height: 100%;
      #days {
        text-align: end;
      }

      .mobile_calendar {
        display: none;
      }
      #cal-frame {
        height: 75%;
        .curr {
          width: 100%;
          height: 100%;
          .calendar_events {
            display: flex;
            justify-content: space-between;

            .calendar_name,
            .calendar_timeof {
              display: unset;
            }
          }

          td {
            text-align: end;
          }
        }
      }
    }
  }
}
