@import '../base/variables';

// All courses page


#courses {
  .header {
    margin: 1rem 3rem 0;
  }

  .subheader {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .coursesContainer {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 5em;
    justify-content: space-between;
  }
  .courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1em;
  }
  .course {
    height: 120px;
    width: 120px;
    background-color: $color-purple-tint;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    display: table;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    margin: 0;
    a {
      text-decoration: none;
    }
    h3 {
      color: black;
      height: 120px;
      text-align: center;
      margin: 0 auto;
      display: table-cell;
      vertical-align: middle;
    }
    transition: 0.3s;
    &:hover {
      font-size: 1.05em;
      color: pink;
    }
  }

  //   .tasks {
  //     margin-right: 2em;
  //     width: 100%;
  //     height: 120px;
  //     border-radius: $border-radius;
  //     box-shadow: $box-shadow;
  //     display: flex;
  //     justify-content: flex-end;

  //     .task {
  //       display: flex;

  //       justify-content: space-between;
  //       span{
  //           color:hotpink;
  //       }
  //     }
  //   }
  .subsection {
    background-color: $color-off-white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    min-width: 200px;
    max-width: 100%;
    min-height: 200px;
    margin: 1.5rem 0;
  }
  .tasks {
    ul {
      padding: 1.2rem;

      li {
        background-color: $color-blue-tint;
        border-radius: $border-radius;
        font-family: $font-family;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 5fr .5fr;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 2rem;
        }
        .blue{
            text-transform: uppercase;
            padding-bottom: 5px;
            color: $color-blue;
        }
        .gray{
            color: #afafaf;
        }
       
        a{
            text-decoration: none;
            color:black;
            padding-right: 10px;
        }
        h3 {
          text-align: center;
          padding-right: 10px;
          border-right: #afafaf solid 1px;
        }
        p {
          font-size: 1rem;
        }

        & + li {
          margin-top: 1rem;
        }
      }
    }
  }

  .grades {
    width: auto;
    border-radius: $border-radius;
    background-color: white;

    .grade {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }
  }
}

//MODAL
.modal-window {
    position: fixed;
    font-family: $font-family;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    & > div {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: white;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }
    header {
      font-weight: bold;
    }
    h1 {
      font-size: 150%;
      margin: 0 0 15px;
    }
  }
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }