@import "../base/variables";
//General layout for all the pages

.hide {
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @media (min-width: 900px) {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.show {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.toggle-menu {
  position: fixed;
  transition: 0.3s;
  top: 2rem;
  left: 2rem;
  z-index: 1000;
  height: 3rem;
  width: 3rem;
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-off-white;
  background-color: $color-main;
  border-radius: 50%;
  font-family: $font-family;

  @media (min-width: 900px) {
    display: none;
  }
}

.container {
  @media (min-width: 900px) {
    display: flex;
    flex-wrap: wrap;
  }

  .menu {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-off-white;
    box-shadow: $box-shadow;
    align-items: center;

    .menu_bottom {
      display: flex;
      gap: 1rem;
      align-items: center;

      a {
        text-decoration: none;
        font-family: $font-family;
        color: $color-text-purple;
      }
    }

    .menu_top {
      text-align: center;
      margin-top: 2rem;
      img {
        width: 40%;
      }
    }

    .menuitems {
      img {
        width: auto;
      }

      .selected {
        background-color: $color-main-tint;
        border-radius: $border-radius;

        a {
          color: $color-main;
        }
      }

      :not(.selected) {
        transition: 0.3s;
        &:hover {
          background-color: $color-main-tint;
          border-radius: $border-radius;
        }
      }

      li {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1.7rem 1.5rem;
        font-size: 1rem;
        margin: 0.5rem 0;

        &:hover {
          a {
            color: $color-main;
          }
        }

        a {
          text-decoration: none;
          font-family: $font-family;
          color: $color-gray;
          transition: 0.3s;
        }
      }
    }
  }
  .menu_container {
    width: 100%;
    height: 100vh;
    position: fixed;

    @media (min-width: 900px) {
      flex-grow: 1;
      flex-basis: 200px;
      position: relative;
    }
  }

  .inner_container {
    padding: 3rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;

    @media (min-width: 1100px) {
      flex-wrap: nowrap;
    }

    .column_wide {
      flex-grow: 2;
    }

    .column_narrow {
      flex-grow: 1;
    }
  }

  .content_container {
    width: 100%;
    height: 100vh;
    flex-grow: 9;
    flex-basis: 600px;

    .top_navbar {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      height: 10vh;
      padding: 20px;
      padding-right: 2rem;
      gap: 1rem;
      position: sticky;
      top: 0;
      right: 0;

      .bell {
        width: 1.8rem;
      }

      .photo {
        width: 2.5rem;
      }

      p {
        font-family: $font-family;
        font-weight: 600;
      }

      a {
        margin-left: 10px;
      }
    }
  }
}
