@import "../base/variables";
//General layout for all the pages

.hide {
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @media (min-width: 900px) {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.show {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.toggle-menu {
  position: fixed;
  transition: 0.3s;
  top: 1.5rem;
  left: 1rem;
  @media (min-width: 767px) {
    left: 3rem;
  }
  z-index: 9000;
  height: 2rem;
  width: 2rem;
  font-size: 1.8rem !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-main;
  // background-color: $color-main;
  border-radius: 50%;
  font-family: $font-family;

  @media (min-width: 900px) {
    display: none;
  }
}
.edit_profile_button {
  cursor: pointer;
}
.edit_profile_container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5000000000;
  display: flex;
  align-items: center;
  justify-content: center;
  .hidden {
    display: none;
  }

  .edit_profile_box {
    width: 100vw;
    @media (min-width: 700px) {
      width: 60vw;
    }
    @media (min-width: 900px) {
      width: 30vw;
    }

    background-color: $color-off-white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .close_edit_profile {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 10000;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .form_profile {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      flex-wrap: wrap;
      margin: 50px 0 20px 0;
      img {
        flex-basis: 50px;
        flex-grow: 1;
      }
      h3 {
        flex-basis: 100px;
        flex-grow: 2;
      }
    }
    form {
      margin: 0 100px 50px 100px;
      width: 300px;
      input {
        width: 100%;
        border: 1px solid $color-text-purple;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
      }
      button {
        margin: 5px 0;
      }
    }
  }
}

.container {
  @media (min-width: 900px) {
    display: flex;
    flex-wrap: wrap;
  }

  .menu {
    width: 100%;
    height: 100%;
    padding: 2rem 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-off-white;
    box-shadow: $box-shadow;
    align-items: start;

    @media (min-width: 900px) {
      width: auto;
      position: fixed;
      top: 0;
      left: 0;
    }

    .menu_bottom {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 0 1.5rem;

      a {
        text-decoration: none;
        font-family: $font-family;
        color: $color-text-purple;
      }
    }

    .menu_top {
      text-align: center;

      img {
        width: 40%;
      }
    }

    .menuitems {
      img {
        width: auto;
      }

      .selected {
        background-color: $color-main-tint;
        border-radius: $border-radius;

        a {
          color: $color-main;
        }
      }

      :not(.selected) {
        transition: 0.3s;
        &:hover {
          background-color: $color-main-tint;
          border-radius: $border-radius;
        }
      }

      li {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1.3rem 1.5rem;
        font-size: 1rem;
        margin: 0.5rem 0;

        @media (min-width: 1200px) {
          padding: 1rem 1.5rem;
        }
        &:hover {
          a {
            color: $color-main;
          }
        }

        a {
          text-decoration: none;
          font-family: $font-family;
          color: $color-gray;
          transition: 0.3s;
        }
      }
    }
  }
  .menu_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    @media (min-width: 900px) {
      flex-grow: 1;
      flex-basis: 160px;
      position: relative;
      height: 100vh;
    }
  }

  .inner_container {
    padding: 1rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;

    @media (min-width: 1100px) {
      padding: 3rem;
      flex-wrap: nowrap;
    }

    .column_wide {
      flex-grow: 2;
    }

    .column_narrow {
      flex-grow: 1;
    }
  }

  .content_container {
    width: 100%;
    height: 100vh;
    flex-grow: 3;
    flex-basis: 600px;

    .edit_profile_button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-right: 1rem;
      @media (min-width: 767px) {
        padding-right: 3rem;
      }
    }

    .top_navbar {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      height: 10vh;
      padding: 20px;
      gap: 1rem;
      position: fixed;
      top: 0;
      right: 0;

      background-color: $color-off-white;

      .bell {
        width: 1.8rem;
      }

      .photo {
        width: 2rem;
        @media (min-width: 767px) {
          width: 2.5rem;
        }
      }

      p {
        font-family: $font-family;
        font-weight: 600;
      }

      a {
        margin-left: 10px;
      }
    }
  }

  .hidden {
    display: none !important;
  }
  .underline {
    text-decoration: underline;
  }
}
